In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
dataset=pd.read_csv("PremierLeaguePlayersData.csv")
dataset.head()

,Unnamed: 0,id,firstname,lastname,age,nationality,height,weight,injured,teamID,...,cardsYel,cardsYelRed,cardsRed,penaltyWon,penaltyCommited,penaltyScored,penaltyMissed,penaltySaved,season,PlayerOfTheYear
0,0,18241,Mark,Yeates,36.0,Republic of Ireland,175 cm,66 kg,False,47,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,02/03,Thierry Henry
1,1,19153,Gareth,Barry,39.0,England,183 cm,78 kg,False,66,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,02/03,Thierry Henry
2,2,19203,Ashley,Cole,41.0,England,176 cm,66 kg,False,42,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,02/03,Thierry Henry
3,3,19417,Liam,Ridgewell,37.0,England,188 cm,77 kg,False,66,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,02/03,Thierry Henry
4,4,50978,Justin,Hoyte,36.0,Trinidad and Tobago,180 cm,68 kg,False,42,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,02/03,Thierry Henry